@import 'tool/tools';

// @import url(../fonts/Conduit/Conduit ITC Bold.otf);
// @import url(../fonts/Conduit/Conduit ITC Bold Italic.otf);
// @import url(../fonts/Conduit/Conduit ITC Italic.otf);
// @import url(../fonts/Conduit/Conduit ITC.otf);

@font-face {
  font-family: 'conduitBold';
  src: url('../fonts/Conduit/Conduit ITC Bold.otf') format('truetype'); 
}

@font-face {
  font-family: 'conduitBoldItalic';
  src: url('../fonts/Conduit/Conduit ITC Bold Italic.otf') format('truetype'); 
}

@font-face {
  font-family: 'conduitItalic';
  src: url('../fonts/Conduit/Conduit ITC Italic.otf') format('truetype'); 
}

@font-face {
  font-family: 'conduit';
  src: url('../fonts/Conduit/Conduit ITC.otf') format('truetype'); 
}

$goldsgym: rgb(249,227,0);
$ggblack: rgb(10,10,10);
$gggray:rgb(86,86,86);

.gold{
  color: $goldsgym;
}
.black{
  color: $ggblack;
}
.gray{
  color: $gggray;
}

table{
  table-layout:   fixed;
  border-spacing: 0;
}
.wrapper{
  width:   650px;
  margin:  10px auto;
  padding: 0;
  border: 1px solid gray;
}
.main-table {
  background:          url("../img/gyms-photos/trx-pushup.jpg");
  background-repeat:   no-repeat;
  background-size:     150%;
  background-position: 50% 0%;
  background-color:    $goldsgym;
  width:               650px !important;
  max-width:           650px;
  padding:             10px;
  font-family:         'conduitBold',Palatino Linotype, Book Antiqua, Palatino, serif;
}

.main-table{
  tr:first-child{
    td{
      height:40px;
    }
  }
  tr{
    td{
      font-size: 72px;
      color:$goldsgym;
    }
  }
}